<!DOCTYPE HTML>
<html>
	<head>
		<title>Jake Schwartz</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/assets/css/magnific-popup.css" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<style type="text/css">
			#main > header {
				background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ site.banner_image }}");
				background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ site.banner_image }}");
				background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ site.banner_image }}");
				background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ site.banner_image }}");
			}
		</style>
	</head>
	<body class="landing">
		<div id="page-wrapper">
			<header id="header" class="alt">
				<h1><a href="/">{{ site.title }}</a></h1>
				<nav id="nav">
					<ul>
						<li class="special">
							<a href="#menu" class="menuToggle"><span>Menu</span></a>
							<div id="menu">
								<ul>
									<!-- <li><a href="index.html">Home</a></li>
									<li><a href="Films.html">Films</a></li>
									<li><a href="Photography.html">Photography</a></li>
									<li><a href="GraphicDesign.html">Graphic Design</a></li> -->
									{% assign pages = site.pages | sort:"position" %}
									{% for page in pages %}
										<li><a href="{{ page.url }}">{{ page.title }}</a></li>
									{% endfor %}
								</ul>
							</div>
						</li>
					</ul>
				</nav>
			</header>

			{{ content }}

			<footer id="footer">
				<div class="icons">
					<a class="icon fa-phone" href="tel:8609306498"><span class="label">Cellphone</span> (860) 930 - 6498</a></br>
					<a class="icon fa-envelope-o" href="mailto:jake.s.schwartz@gmail.com"><span class="label">Email</span> jake.s.schwartz@gmail.com</a></br>
					<a class="icon fa-instagram" href="https://www.instagram.com/schwartz_jake/"<span class="label"></a>
				</div>
				<ul class="copyright">
					<li>&copy; {{ site.title }}</li>
				</ul>
			</footer>

		</div>
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/jquery.scrollex.min.js"></script>
		<script src="/assets/js/jquery.scrolly.min.js"></script>
		<script src="/assets/js/skel.min.js"></script>
		<script src="/assets/js/jquery.magnific-popup.min.js"></script>
		<script src="/assets/js/salvattore.min.js"></script>
		<script src="/assets/js/util.js"></script>
		<script src="/assets/js/main.js"></script>
	</body>
</html>
