---
layout: default
---

<article id="main">
  <header>
    <h2>{{ page.title }}</h2>
  </header>
  <section class="wrapper style5">
    <div class="inner">
      {{ content }}

      {% if page.reel %}
        <div class="row uniform 50%">
          <div class="12u">
            <span class="image fit">
              <a class="popup-reel" href="{{ page.reel.url }}"><img src="{{ page.reel.thumbnail_image }}"></a>
            </span>
          </div>
        </div>
      {% endif %}

      {% if page.media %}
        <div class="row uniform 50%">
          {% for media in page.media %}
            <div class="4u">
              <span class="image fit">
                <a class="popup-{{ page.modal_type }}" href="{{ media.media_url }}"><img src="{{ media.thumbnail_image }}"></a>
              </span>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </section>
</article>
